<div *ngIf="bike">

    <h2>{{bike.model}} Details</h2>

    <div class="form-group">
        <label>ID: </label>
        <div class="form-control" readonly>{{bike.id}}</div>
    </div>

    <div class="form-group">
        <label>Model:</label>
        <input class="form-control" [(ngModel)]="bike.model" placeholder="model"/>
    </div>
    <div class="form-group">
        <label>Manufacturer:</label>
        <input class="form-control" [(ngModel)]="bike.manufacturer" placeholder="manufacturer"/>
    </div>

    <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>
