<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav class="nav nav-pills">
    <a class="nav-link" routerLink="bikes" routerLinkActive="active" *ngIf="auth.loggedIn">Bikes</a>
    <a class="nav-link" routerLink="add-bike" routerLinkActive="active" *ngIf="auth.loggedIn">Add a new bike</a>
    <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a>
    <a class="nav-link" (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
  </nav>

  <router-outlet></router-outlet>
</div>


